
.mtg-card-display-container {
    width: 30rem;
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  
  .mtg-card-display-container .image-container {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .mtg-card-display-container .image-container img {
    width: 75%;
    background-color: transparent;
    box-shadow: 1px 1px 8px rgb(0 0 0 / 50%);
    border-radius: 4.75% / 3.5%;
  }
  
  .mtg-card-display-container .card {
    width: 100%;
  
    margin-top: -80px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  
    border-radius: 20px;
  }
  .rating {
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 0px 0px;
  }
  
  .rating li {
    display: inline-block;
    padding: 8px 8px;
    border: 2px solid #db7329;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .rating li:hover {
    background-color: #db7329;
    color: white;
  }
  