

.flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.h-center {
  width: 100%;
  justify-content: center;
}
.v-center {
  height: 100%;
  align-items: center;
}

.text-center {
  text-align: center;
}

.soft-pad {
  padding: 6px 12px;
}

.card {
  background-color: #fffaf5;
  box-shadow: 8px 8px 11px #0000007a;
}


.hover-select:hover {
  background-color: #ffdbb8;
}

.rotate, .fa-spinner {
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}