.set-list {
    height:  100%;
    overflow: auto;
}

.set {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0px 10px 10px;
    border-top: 1px solid #cccccc;
}

.set:hover {
    background-color: #ffdbb8;
}

.set, .set * {
    user-select: none;
    cursor: pointer;
}

.set:first-child {
    border-top: 0px;
}

.set .left-content {
    display: flex;
    align-items: center;
}

.set img {
    height: 40px;
    width: 40px;
}
.set label {
    font-size: 20px;
    line-height: 1em;

    padding-left: 10px;
}

.set .select-set {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    
    font-size: 16px;
}