.mtg-card-container {
    position: relative;
}

.mtg-card {
    position: relative;
    font-size: 0px;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    -o-transition: -o-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms, -o-transform 200ms;
}

.mtg-card.show-back {
    -webkit-transition: -webkit-transform 750ms;
    transition: -webkit-transform 750ms;
    -o-transition: -o-transform 750ms;
    transition: transform 750ms;
    transition: transform 750ms, -webkit-transform 750ms, -o-transform 750ms;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.mtg-card .front, .mtg-card .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.mtg-card .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.mtg-card .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mtg-card .card-image {
    width: 100%;
    border-radius: 4.75% / 3.5%;
}

.flip-toggle {
    position: absolute;
    z-index: 2;
    left: calc(50% - 18px);
    top: auto;
    bottom: -18px;
    
    font-size: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    background-color: white;
    border: 3px solid #db7329;
    border-radius: 50%;

    cursor: pointer;
}

.flip-toggle svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);

    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    -o-transition: -o-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms, -o-transform 200ms;
}

.flip-toggle.flipped svg {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}