
.card-rating-container {
    width: 30rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.image-container {
    width: 100%;
}

.card-rating-container .focused-card {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.card-rating-container .focused-card .mtg-card {
    z-index: 1;
}

.card-rating-container .background-card {
    z-index: 0;
    position:relative;
    width: 100%;
}
.card-rating-container .background-card .mtg-card-container {
    position: absolute;
    top: 100px;
    width: 235px;
}
.card-rating-container .background-card .mtg-card-container:first-child {
    left: -50px;
}
.card-rating-container .background-card .mtg-card-container:first-child::after {
    background: linear-gradient(90deg, rgba(219,115,41,1) 0%, rgba(219,115,41,0) 100%);
}
.card-rating-container .background-card .mtg-card-container:first-child::after,
.card-rating-container .background-card .mtg-card-container:last-child::after {
    content: '';
    position:absolute;
    top: 0px;
    left: 0px;

    display:block;
    width: 100%;
    height: 100%;
}
.card-rating-container .background-card .mtg-card-container:last-child {
    right: -50px;
}
.card-rating-container .background-card .mtg-card-container:last-child::after {
    background: linear-gradient(90deg, rgba(219,115,41,0) 0%, rgba(219,115,41,1) 100%);
}


.mtg-card-container {
    height: 468px;
    width: 336px;
}

.card-rating-container .card {
    position: relative;
    width: 100%;

    margin-top: -80px;
    padding: 15px;

    border-radius: 20px;
}

.rating-container {
    padding: 120px 0px 0px 0px;
    width: 100%;
}

.float-control {
    position: absolute;
    top: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    background-color: white;
    border: 2px solid grey;
    border-radius: 50%;

    cursor: pointer;
}

.top-left {
    left: 10px;
}

.top-right {
    right: 10px;
}

.lower-middle {
    z-index: 2;
    left: calc(50% - 18px);
    top: 62px;
    
    border: 3px solid #db7329;
}
